#### Описание данных ####
Вам представлены данные о доходах сотрудников участка горячего проката за год, в том числе данные, описывающие специфику рабочих мест.
#### Задание ####
•	Часть строк по доходу не заполнена, заполните их  
•	Выявите формулу дохода в целом и его составных частей  
•	Проверьте, что данная формула объясняет доход с точностью до копейки  
•	Выявите зависимости между составными частями дохода  

**Пришлите нам:**  
•	Итоговую формулу дохода в теле письма или в Word  
•	Базу со всеми доходами в Excel  
Подсказка:
Доход состоит из оклада, премии и двух видов доплат и индивидуальных надбавок

In [94]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [95]:
data = pd.read_excel('Данные.xlsx')

In [96]:
data

,ID,FIO,Профессия,Разряд,Оборудование,Класс вредности,Месяц,Отработанные часы,Объем производства,Доход (руб.)
0,1,Журавлев Б. И.,Уборщик,2,Вспомогательные помещения,1.0,2022-01-01,180,1950,NaN
1,2,Степанов А. М.,Уборщик,2,Вспомогательные помещения,1.0,2022-01-01,228,1950,NaN
2,3,Федотов М. М.,Уборщик,2,Вспомогательные помещения,1.0,2022-01-01,252,1950,NaN
3,4,Абрамов Е. Д.,Уборщик,2,Пилигримовые станы,3.3,2022-01-01,240,1950,NaN
4,5,Волков Д. М.,Подручный вальцовщика,2,Пилигримовые станы,3.3,2022-01-01,252,1950,NaN
...,...,...,...,...,...,...,...,...,...,...
2395,2396,Румянцев М. А.,Вальцовщик,8,Пилигримовые станы,3.3,2022-12-01,180,1500,NaN
2396,2397,Верещагин Я. А.,Вальцовщик,8,Прошивной стан,3.3,2022-12-01,180,1500,NaN
2397,2398,Власов С. Д.,Вальцовщик,8,Прошивной стан,3.3,2022-12-01,156,1500,NaN
2398,2399,Волков А. А.,Вальцовщик,8,Прошивной стан,3.3,2022-12-01,192,1500,NaN
2399,2400,Новиков А. Ф.,Вальцовщик,8,Прошивной стан,3.3,2022-12-01,192,1500,NaN

In [97]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2400 entries, 0 to 2399
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  2400 non-null   int64
 1   FIO                 2400 non-null   object
 2   Профессия           2400 non-null   object
 3   Разряд              2400 non-null   int64
 4   Оборудование        2400 non-null   object
 5   Класс вредности     2400 non-null   float64
 6   Месяц               2400 non-null   datetime64[ns]
 7   Отработанные часы   2400 non-null   int64
 8   Объем производства  2400 non-null   int64
 9   Доход (руб.)        1551 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(4), object(3)
memory usage: 187.6+ KB

In [98]:
data['Доход (руб.)'].isnull().sum()

849

In [99]:
data['Оборудование_код'] = pd.factorize(data['Оборудование'])[0]

In [100]:
data.corr(numeric_only=True)

,ID,Разряд,Класс вредности,Отработанные часы,Объем производства,Доход (руб.),Оборудование_код
ID,1.000000,8.019781e-02,1.489526e-02,-0.340207,-3.882839e-01,-0.277501,3.883299e-02
Разряд,0.080198,1.000000e+00,6.093648e-02,-0.003400,-9.187713e-17,0.270216,4.019714e-01
Класс вредности,0.014895,6.093648e-02,1.000000e+00,0.007844,-2.430667e-15,0.142454,-1.047945e-01
Отработанные часы,-0.340207,-3.399513e-03,7.844253e-03,1.000000,8.922562e-01,0.923457,1.501476e-02
Объем производства,-0.388284,-9.187713e-17,-2.430667e-15,0.892256,1.000000e+00,0.841699,-2.512015e-16
Доход (руб.),-0.277501,2.702160e-01,1.424537e-01,0.923457,8.416990e-01,1.000000,1.296785e-01
Оборудование_код,0.038833,4.019714e-01,-1.047945e-01,0.015015,-2.512015e-16,0.129679,1.000000e+00

In [105]:
data.corr(numeric_only=True)['Доход (руб.)']

ID                   -0.277501
Разряд                0.270216
Класс вредности       0.142454
Отработанные часы     0.923457
Объем производства    0.841699
Доход (руб.)          1.000000
Оборудование_код      0.129679
Name: Доход (руб.), dtype: float64

In [110]:
# Подготовка данных для анализа корреляции в разрезе каждого разряда
grouped_data = data.groupby('Разряд').corr(numeric_only=True)

# Вывод корреляции для каждого разряда
grouped_data['Доход (руб.)'].reset_index()

    Разряд             level_1  Доход (руб.)
0        2                  ID           NaN
1        2     Класс вредности           NaN
2        2   Отработанные часы           NaN
3        2  Объем производства           NaN
4        2        Доход (руб.)           NaN
5        2    Оборудование_код           NaN
6        3                  ID     -0.304202
7        3     Класс вредности      0.191570
8        3   Отработанные часы      0.952494
9        3  Объем производства      0.868230
10       3        Доход (руб.)      1.000000
11       3    Оборудование_код      0.191570
12       4                  ID     -0.300839
13       4     Класс вредности      0.131912
14       4   Отработанные часы      0.969396
15       4  Объем производства      0.883855
16       4        Доход (руб.)      1.000000
17       4    Оборудование_код      0.084704
18       5                  ID     -0.298565
19       5     Класс вредности      0.145409
20       5   Отработанные часы      0.970372
21       5  Объем производства      0.880501
22       5        Доход (руб.)      1.000000
23       5    Оборудование_код      0.083860
24       6                  ID     -0.328035
25       6     Класс вредности      0.028786
26       6   Отработанные часы      0.975715
27       6  Объем производства      0.923666
28       6        Доход (руб.)      1.000000
29       6    Оборудование_код      0.049492
30       7                  ID     -0.335273
31       7     Класс вредности      0.154121
32       7   Отработанные часы      0.964423
33       7  Объем производства      0.866768
34       7        Доход (руб.)      1.000000
35       7    Оборудование_код     -0.140818
36       8                  ID           NaN
37       8     Класс вредности           NaN
38       8   Отработанные часы           NaN
39       8  Объем производства           NaN
40       8        Доход (руб.)           NaN
41       8    Оборудование_код           NaN

In [101]:
print(data['Объем производства'].unique())
print(data['Объем производства'].nunique())

[1950 1460 1430 1790 1490 2250 1620 1930 1640  890 1200 1500]
12

In [102]:
print(data['Оборудование_код'].unique())
print(data['Оборудование'].unique())

[0 1 2 3 4 5 6 7 8]
['Вспомогательные помещения' 'Пилигримовые станы' 'Калибровочный стан'
 'Нагревательные печи' 'Прошивной стан' 'Калибровочный стан, ГРП'
 'Нагревательные печи, кантовка' 'Нагревательные печи, нагрев'
 'Контрольно-измерительная аппаратура']

In [112]:
data.describe()

,ID,Разряд,Класс вредности,Месяц,Отработанные часы,Объем производства,Доход (руб.),Оборудование_код
count,2400.000000,2400.000000,2400.000000,2400,2400.000000,2400.000000,1551.000000,2400.000000
mean,1200.500000,4.900000,2.934000,2022-06-16 12:00:00,192.400000,1595.833333,30211.722108,2.860000
min,1.000000,2.000000,1.000000,2022-01-01 00:00:00,72.000000,890.000000,8534.020000,0.000000
25%,600.750000,4.000000,3.175000,2022-03-24 06:00:00,168.000000,1452.500000,20821.740000,1.000000
50%,1200.500000,5.000000,3.300000,2022-06-16 00:00:00,192.000000,1560.000000,27207.670000,3.000000
75%,1800.250000,6.000000,3.325000,2022-09-08 12:00:00,216.000000,1825.000000,37477.220000,4.000000
max,2400.000000,8.000000,3.400000,2022-12-01 00:00:00,348.000000,2250.000000,76519.860000,8.000000
std,692.964646,1.676655,0.757881,NaN,46.512164,344.853385,12719.975479,2.049915

Подготовка данных для регрессии

In [113]:
data_not_null = data.dropna(subset=['Доход (руб.)'])

In [114]:
# Выбираем независимые переменные
X = data_not_null[['Отработанные часы', 'Объем производства', 'Разряд']]
y = data_not_null['Доход (руб.)']

In [115]:
# Создание и обучение модели
model = LinearRegression()
model.fit(X, y)

LinearRegression()

In [116]:
# Оценка модели
y_pred = model.predict(X)
mae = mean_absolute_error(y, y_pred)
print(f"Средняя абсолютная ошибка модели: {mae}")

Средняя абсолютная ошибка модели: 2552.6531118797498

In [117]:
# Коэффициенты регрессии
print(f"Коэффициенты модели: {model.coef_}")
print(f"Свободный член (intercept): {model.intercept_}")

Коэффициенты модели: [2.31982456e+02 2.05458469e+00 2.82636103e+03]
Свободный член (intercept): -31061.68265650566

In [118]:
# Заполнение пропущенных значений
data_missing = data[data["Доход (руб.)"].isnull()]
X_missing = data_missing[["Отработанные часы", "Объем производства", "Разряд"]]
data.loc[data["Доход (руб.)"].isnull(), "Доход (руб.)"] = model.predict(X_missing)

In [119]:
# Проверка заполнения значений
data.loc[data['Доход (руб.)'].isnull()]

Empty DataFrame
Columns: [ID, FIO, Профессия, Разряд, Оборудование, Класс вредности, Месяц, Отработанные часы, Объем производства, Доход (руб.), Оборудование_код]
Index: []

In [120]:
data

,ID,FIO,Профессия,Разряд,Оборудование,Класс вредности,Месяц,Отработанные часы,Объем производства,Доход (руб.),Оборудование_код
0,1,Журавлев Б. И.,Уборщик,2,Вспомогательные помещения,1.0,2022-01-01,180,1950,20354.321568,0
1,2,Степанов А. М.,Уборщик,2,Вспомогательные помещения,1.0,2022-01-01,228,1950,31489.479438,0
2,3,Федотов М. М.,Уборщик,2,Вспомогательные помещения,1.0,2022-01-01,252,1950,37057.058374,0
3,4,Абрамов Е. Д.,Уборщик,2,Пилигримовые станы,3.3,2022-01-01,240,1950,34273.268906,1
4,5,Волков Д. М.,Подручный вальцовщика,2,Пилигримовые станы,3.3,2022-01-01,252,1950,37057.058374,1
...,...,...,...,...,...,...,...,...,...,...,...
2395,2396,Румянцев М. А.,Вальцовщик,8,Пилигримовые станы,3.3,2022-12-01,180,1500,36387.924664,1
2396,2397,Верещагин Я. А.,Вальцовщик,8,Прошивной стан,3.3,2022-12-01,180,1500,36387.924664,4
2397,2398,Власов С. Д.,Вальцовщик,8,Прошивной стан,3.3,2022-12-01,156,1500,30820.345729,4
2398,2399,Волков А. А.,Вальцовщик,8,Прошивной стан,3.3,2022-12-01,192,1500,39171.714132,4
2399,2400,Новиков А. Ф.,Вальцовщик,8,Прошивной стан,3.3,2022-12-01,192,1500,39171.714132,4

In [121]:
# Сохранение обновленного датасета
data.to_excel('updated_dataset.xlsx', index=False)